<!-- views/_header.ejs -->
<article class="_header">
	<!-- header text -->
	<a class="home" href="/">community</a>
	<a class="home2" href="/">twitter</a>
	<span id="head-right">
		<% if(login){ %>
			<img src="<%= user.profile_image_url_https %>" >
			<!-- <a class="header-name" href="/profile">profile</a> -->
			<a class="header-logout" href="/logout/twitter">logout</a>
		<% } else{%>
			<a class="header-login" href="/login/twitter">login</a>
		<% } %>
	</span>
	
</article>