<!-- views/_header.ejs -->
<article class="_header">
	<!-- header text -->
	<a href="/">home</a>

	<span id="head-right">
		<% if(login){ %>
			<img src="<%= user.profile_image_url_https %>" >
			<a href="/profile"><%= user.name %></a>
			<a href="/logout/twitter">logout</a>
		<% } else{%>
			<a href="/login/twitter">login</a>
		<% } %>
	</span>
	
</article>