<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/site.css">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script src="/javascript/moment.min.js"></script>
		<script src="/javascript/moment-timezone-with-data-2010-2020.min.js"></script>
		<script src="/javascript/tweet_submit.js"></script>
		<script src="/javascript/vote.js"></script>
	</head>
	<body>
		<header>
			<title>TwitCom / Profile</title>
			<%- include('_header', { user: user }) %>			
		</header>

		<!-- Submit Form -->
		<div id="tweet-submit">
		<!-- <form action="/tweets/submit" method="POST"> -->
				<p> Submit info </p>
				<textarea id="form_body" name="body" placeholder="Go on..." maxlength="144"></textarea><br>
				<button id="form_submit">Submit</button>
				<button id="form_cancel">Cancel</button>
		</div>>

		<main>
			<p> hi </p>
			<div>user id: <%= user.id %></div>
			<div>user name: <%= user.created_at %></div>

			<!-- User tweets list -->
			<% for(var i = 0; i < user_tweets.length; i++) { %>
				<p><%= user_tweets[0].body %></p>
			<% } %>

		</main>		
	</body>
</html>