<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/site.css">
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script src="/javascript/moment.min.js"></script>
		<script src="/javascript/moment-timezone-with-data-2010-2020.min.js"></script>
		<script src="/javascript/tweet_submit.js"></script>
		<script src="/javascript/vote.js"></script>
	</head>
	<body>
		<header>
			<title>TwitCom</title>
			<%- include('_header', { user: user }) %>			
		</header>

		<main>

			<!-- Submit Form -->
			<div id="tweet-submit">
				<% if(login) { %>
			<!-- <form action="/tweets/submit" method="POST"> -->
				<p> Submit info </p>
				<textarea id="form_body" name="body" placeholder="Go on..." maxlength="144"></textarea><br>
				<button id="form_submit">Submit</button>
				<button id="form_cancel">Cancel</button>
				<% } else { %>
					<a src="/login/twitter">Sign in</a>
				<% } %>
			</div>

			

			<!-- Test button -->

			<div id="tweet_list">
			<div class="row">
				<span class="order">
					<button onclick="window.location.href='/'">Votes</button>
					<button onclick="window.location.href='/latest'">Latest</button>
					<button onclick="window.location.href='/random'">Random</button>
				</span>
				<span>
					<button id="refresh">&#8635;</button><br>
				</span>
			</div>

			 	<%- include('_tweet_list', { tweets: tweets }) %>
			</div>

			<span class="right">
				<div class="right_submit">
					<button id="submit_button">submit</button>
				</div>

				<div class="right-timer">
					<div id="timer"></div>
				</div>

			</span>

		</main>
	</body>	

</html>

