<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/site.css">
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script src="/javascript/moment.min.js"></script>
		<script src="/javascript/moment-timezone-with-data-2010-2020.min.js"></script>
		<script src="/javascript/tweet_submit.js"></script>
		<script src="/javascript/vote.js"></script>
	</head>
	<body>
		<header>
			<title>TwitCom</title>
			<%- include('_header', { user: user }) %>			
		</header>

		<main>

			<span class="left_col">
				<div class="row">
					<button id="submit_button">Submit</button>
					<span class="order">
					<button id="refresh_button">&#8635;</button>
					<!-- <button id="votes_button" onclick="window.location.href='/'">Votes</button>
					<button id="latest_button" onclick="window.location.href='/latest'">Latest</button>
					<button id="random_buttom" onclick="window.location.href='/random'">Random</button> -->
					</span>
				</div>

				<div class="tweet_submit_form">
					<% if(login) { %>
					<!-- <form action="/tweets/submit" method="POST"> -->
					<textarea id="form_body" name="body" placeholder="Go on..." maxlength="144"></textarea><br>
					<div class="tweet_submit_btns">
						<button id="form_submit_btn">Submit</button>
						<button id="form_cancel_btn">Cancel</button>
					</div>

					<% } else { %>
						<a src="/login/twitter">Sign in</a>
					<% } %>
				</div>

				<div id="line">
				</div>
				<div id="tweet_list">
					<%- include('_tweet_list', { tweets: tweets }) %>
				</div>
			</span>

			<span class="right_col">
				<div class="right_timer">
					Next tweet in:<br>
					<span id="timer_min"></span>
					<span id="min">min</span>
					<span id="timer_sec"></span>
					<span id="sec">sec</span>
				</div>
				<div>
					<p>
						<%- embedded_html %>
					</p>
				</div>
			</span>

			
		</main>

		<footer> 
		</footer>
	</body>	

</html>

