/* public/css/site.css */
*, *: before, *:after {
	box-sizing: inherit;
}

a:link, a:hover, a:visited {
	text-decoration: none;
}

.left_col {
	float: left;
	display: table-cell;
	width: 400px;

}

.right_col {
	display: table-cell;
	width: 400px;
	float: right;
}

header {
	top: 0;
	left: 0;
	right: 0;
	/*border-top: 4px solid #d9d9d9;*/
	border-color: #ED5780;
	height: 50px;
	background-color: #fdfdfd;
}

.home, #head-right {
	color: #2b2b2b;
	font-size: 20px;
}
.home2 {
	font-size: 20px;
	color: #ED5780;	
}

.header-login {
	color: #2b2b2b;
	font-size: 17px;
}

main {
	width: 900px;
	margin: 60px auto 0px auto;
	display: table;
}

body {
	box-sizing: border-box;
	font-family: arial, sans-serif;
	background-color: #fdfdfd;
}

.row {
	width: 400px;
	margin: 10px;
	padding: 10px;

}
#line {
	width: 400px;
	position: relative;
	border-bottom-style: solid;
	left: 20px;
}

button {
	display: inline-block;
	border-style: none;
	background-color: #fdfdfd;
}
button:focus {
	outline: 0;
}

button:hover {
	background-color: #eeeeee;
}
.order {
	float:right;
}

#latest_button, #random_buttom, #votes_button, #refresh_button {
	padding: 14px;
}

#submit_button {
	padding: 14px;

}
#submit_button:hover {
	background-color: #eeeeee;
}

.tweet_list {
	/*display: inline;*/
	/*text-align: center;*/
	/*float: left;*/
	width: 400px;
}

.right {
	display: inline;
	width: 300px;
	height: 75px;
	float: right;
	border-radius: 5px 5px 0 0;
	padding: 10px;
	margin-top: 10px;
	color: #F02475;
	font-weight: bold;
}

.right2 {
	width: 300px;
	height:200px;
	background-color: #3299BB;
	float: right;
	padding: 10px;
	border-radius: 0 0 5px 5px;
}

.tweet {
	float: left;
	display: inline;
	border-style: none;
	border-color: #e9e9e9;
	border-bottom-style: solid;
	border-width: 1px;
	/*background-color: #E9E9E9;*/
	background-color: #fdfdfd;
	width: 400px;
	height: auto;
	margin: 0 0 0 15px;
	padding: 5px;
}

.tweet-rank {
	float: left;
    margin: 0 20px 20px 10px;
    color: #C5CFC6;
    background-color: #ffffff;
    padding: 0px;
    font-size: 20px;
    font-family: Georgia, serif;

}
.tweet-body {
	font-size: 15px;
	color: #2b2b2b;
	word-wrap: break-word;
	text-align: left;
}
#_tweet-body {
	margin: 10px 10px 15px 5px;
	font-family: Georgia, serif;
	font-size: 16px;
}

.tweet-two {
	margin: 0 10px 10px 10px;
	font-size: 12px;
	font-style: italic;
	float: right;
}


._header {
	padding: 15px;
}

.header-name, .header-logout {
	color: #2b2b2b;
	font-size: 17px;
}
.header-name {
	margin-right: 20px;
}

#head-right {
	float: right;
}



#timer {
	font-size: 40px;
	text-align: center;

}

#timer_box {
	float: left;
	display: inline;
	height: 500px;
	width: 300px;
}

.vote_button, .neg_button {
	border-style: none;
	padding: 8px;
}

/* Tweet Submit Form */
.tweet_submit_form {
	background-color: #eeeeee;
	width: 400px;
	height: 200px;
	display: none;
	position: relative;
	left: 20px;
	top: -20px;
}

#form_body {
	margin: 10px;
	resize: none;
	width: 358px;
	height: 100px;
	max-height: 200px;
	border: none;
	padding: 10px;
}
#form_body:focus {
	outline: none;
}

.tweet_submit_btns {
	float:right;

}

#form_submit_btn {
	padding: 10px;
	margin: 0 0 10px 10px;
	background-color: #031A4A;
	color: #ffffff;
	font-size: 12px;

}

#form_cancel_btn {
	padding: 10px;
	margin: 0 10px 10px 0;
	background-color: #031A4A;
	color: #ffffff;
	font-size: 12px;
}

/* Right */
.right_timer {
	padding: 20px;
	margin: 100px 0 0 0;
	background-color: #ED5780;
	font-weight: bold;
}
