/* public/css/site.css */
*, *: before, *:after {
	box-sizing: inherit;
}

a:link, a:hover, a:visited {
	text-decoration: none;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	border-bottom: 1px solid #d9d9d9;
	height: 50px;
	background-color: #BCBCBC;
}


main {
	width: 800px;
	margin: 60px auto 0px auto;
}

body {
	box-sizing: border-box;
	font-family: arial, sans-serif;
	background-color: #BCBCBC;
}

.row {
	width: 600px;BCBCBC
	margin: 10px;
	padding: 10px;
}

.order {
}
#refresh {
}

button {
	display: inline-block;
	border-style: none;
}

.tweet_list {
	display: inline;
	text-align: center;
	float: left;
	max-width: 400px;
}

.right {
	display: inline;
	width: 300px;
	height: 200px;
	float: right;
	background-color: #ffffff;
	border-radius: 5px;
	padding: 10px;
}
.right-box {
}

.tweet {
	float: left;
	display: inline;
	border-style: none;
	background-color: #E9E9E9;
	width: 400px;
	height: auto;
	margin: 10px;
	padding: 5px;
	border-radius: 5px;
}

.tweet-rank {
	float: left;
    margin: 0 20px 10px 10px;
    color: #ffffff;
    background-color: #424242;
    padding:10px;
    border-radius: 5px;

}
.tweet-body {
	font-size: 15px;
	word-wrap: break-word;
	text-align: left;
}
#_tweet-body {
	margin: 10px 0 5px 5px;
}

.tweet-two {
	margin: 10px;
	font-size: 12px;
	float: right;
}


._header {
	padding: 15px;
}

#head-right {
	float: right;
}

#tweet-submit {
	display: none;
	position: fixed;
	z-index: 1;
	background-color: #80B3FF;
}

#timer {

}

#timer_box {
	float: left;
	display: inline;
	height: 500px;
	width: 300px;
}

.vote_button, .neg_button {
	border-style: none;
}